# Ignore these files
*.suo
*.tlog
*.log
*.pdb
*.ilk
*.exp
*.idb
*.obj
*.pch
*.ipch
*.db
*.opendb
*.user
*.cproject
*.project
*.directory
*.settings
*.maintenance
*.vcxproj
*.filters
*.sln
*.a
*.vs
.cmake
.vscode
Cargo.lock
GameEngine
Makefile
CMakeCache.txt
compile_commands.json
CMakeSettings.json
.rustc_info.json
cmake_install.cmake
CTestTestfile.cmake
**weather_bot
**weather_bot_tests
**/Debug/
**/debug/
**/Release/
**/release/
**/GeneratedFiles/
**/Testing/
**/Build/
**/build/
**/target*/
**/CMakeFiles/
**/out/
**/_deps/
**/telebot-build/
**/telebot-stamp/
**/tmp/
**/telebot/
**/gtest/
**/lib/
